
# Python bytecode and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Airflow Logs & Database
logs/
airflow.db
webserver_config.py
airflow-webserver-monitor.pid

# SQLite Database (if used for testing)
*.db
*.db-journal

# Docker-related files
docker-compose.override.yml
.dockerignore

# DAG Serialization & Pickle Files
dags/__pycache__/
dags/*.pickle

# Airflow configuration & secrets
config/
secrets/
variables.env
airflow.cfg


.DS_Store
